/*
	Global classes
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
	color: #795548;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: white;
}

.head-bar {
	height: 45px;
	width: 300px;
	background-color: rgb(243, 102, 114, 0.726);
	font-family: Avenir, sans-serif;
	color: white;
	text-shadow: 1px 1px #000000;
	text-align: center;
}
.head-bar h1{
	padding-top: 2.75px;
}

.head-bar p{
	padding-top: 10px;
	margin-right: 25px;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	color: white;
}

.head-bar2 {
	height: 45px;
	width: 300px;
	background-color: lightblue;
	font-family: Avenir, sans-serif;
	color: white;
	text-shadow: 1px 1px #000000;
	text-align: center;
}
.head-bar2 h1{
	padding-top: 2.75px;
}

.head-bar2 p{
	padding-top: 10px;
	margin-right: 25px;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	color: white;
}

.back-button {
	float: left;
	margin-top: 9px;
	margin-left: 13px;
	color: white;
}

.placeholder1 {
	float: left;
	height: 300px;
	width: 300px;
	border-style: dashed;
}

.placeholder2 {
	float: left;
	height: 200px;
	width: 300px;
	border-style: dashed;
}

/*
	GC Schedule a Call
			*/

.popup {
  position: relative;
  display: inline-block;
}

.popup .popuptext {
		visibility: hidden;
		width: 180px;
	  background-color: #FFF3E0;
		color: #E65100;
	  text-align: center;
		font-size: 18px;
	  border-radius: 5px;
	  position: relative;
		margin-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 58px;
		padding-right: 58px;
	}

	.popup .popuptext::after {
  content: "";
  position: absolute;
}

.popup .show {
  visibility: visible;
	color: #E65100;
	text-align: center;
}

.required {
	float: right;
	font-size: 13px;
	color: #E65100;
}

#timezone1 {
	float: top;
	font-size: 10px;
	margin-top: 5px;
}
#timezone2 {
	float: top;
	font-size: 10px;
	margin-top: 5px;
}
/*
	Logging in
			*/

.arrangebox::after {
	content: "";
}

.bigbtn {
	font-family: Roboto, sans-serif;
	height: 120px;
	font-size: 30px;
	color: #FFF3E0;
	float: left;
	text-align: center;
}

#uploadicon {
	height: 120px;
	width: 120px;
	margin: 20px 90px;
	border-style: dashed;
}

#newimgB {
	height: 24px;
	width: 24px;
	margin-left: 48px;
	margin-top: 48px;
}

#newimgA {
	height: 24px;
	width: 24px;
	margin-left: 48px;
	margin-top: 48px;
}

#newimgA img {
	height: 120px;
	width: 120px;
	margin-left: -48px;
	margin-top: -48px;
}

#newimgB img {
	height: 120px;
	width: 120px;
	margin-left: -48px;
	margin-top: -48px;
}

#timezone {
	width: 180px;
	float: left;
}

input[type = text], input[type = password], input[type = tel] {
	width: 100%;
	padding: 10px 5px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

.container {
	padding: 10 10px;
}

.container2 {
	padding: 70px 30px;
}

.container3 {
	padding: 0 10px;
}

button {
	background-color: #E65100;
	width: 100%;
	height: 50px;
	margin: 15px 0;
	border: none;
	font-family: Roboto, sans-serif;
	font-size: 30px;
	color: #FFF3E0;
	box-shadow: 1px 3px 5px #4E342E;
}


/* Grandparent main call page */
#screen-main {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: white;
}

.profile-bar {
	height: 100px;
	width: 300px;
	background-color: rgb(243, 102, 114, 0.726);
}

.profile-pic-background{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	height: 80px;
  	width: 80px;
  	background-color: rgb(245, 235, 235);
  	border-radius: 50%;
}

.profile-pic-background img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.user-name {
	height: 40px;
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.user-name h3{
	padding: 0px;
	font-size: 25px;
	color: white;
}

.add-friend {
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: pink;
	margin-left: 40px;
	margin-top: 25px;
}


.add-friend h3{
	font-size: 36px;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
	color: white;
}

.video {
	height: 190px;
	width: 300px;
}

.video-img {
	height: 150px;
	float: left;
}

.video-img img{
	margin-top: 15px;
	margin-left: 85px;
	margin-right: 25px;
	height: 130px;
	width: 130px;
	float: left;
}

#back-button{
	float: left;
	margin-left: 7px;
	margin-top: 7px;
	padding-left: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 30px;
	height: 23px;
	border: 1px solid white;
	background-color: rgb(243, 102, 114, 0.726);
	color: white;
	text-shadow: 1px 1px black;
   }

.video-name {
	margin-top: 0px;
	float: left;
	height: 20px;
	width: 300px;
}

.video-name p{
	margin-top: 0px;
	float: left;
	height: 20px;
	width: 300px;
	font-size: 15px;
	text-align: center;
}

.uploader-name {
	float: left;
	height: 20px;
	width: 300px;
}

.uploader-name p{
	margin-top: 0px;
	float: left;
	width: 300px;
	text-align: center;
}

.bottom-bar {
	background-color: pink;
	float: left;
	height: 49px;
	width: 99px;
	border: 0.5px solid white;
}

.bottom-bar h3{
	float: left;
	width: 99px;
	height: 25px;
	margin-top: 12px;
	text-align: center;
	color: white;
}

.bottom-bar-current {
	background-color: white;
	float: left;
	height: 49px;
	width: 99px;
	border: 0.5px solid rgb(243, 102, 114, 0.726);
}

.bottom-bar-current h3{
	float: left;
	width: 99px;
	height: 25px;
	margin-top: 12px;
	text-align: center;
	color: rgb(243, 102, 114, 0.726);
}


/**/

.fullwidthbtn {
	font-family: Roboto, sans-serif;
	height: 70px;
	font-size: 30px;
	color: #FFF3E0;
	float: left;
	text-align: center;
	margin-left: 25px;
}

.fullwidthbtn p {
	padding-top: 5px;
	width: 250px;
	height: 40px;
	background-color: #E65100;
	box-shadow: 1px 3px 5px #4E342E;
}
/*
	Profile Page
		*/

.container1 {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.card_profile {
	height: 300px;
}

.card_name {
	padding-top: 30px;
	font-family: 'Avenir', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #424242;
	text-align: center;
}


.user-info {
	margin-top: 10px;
	height: 300px;
	width: 300px;
}

.user-stats {
	font-family: 'Avenir', sans-serif;
	margin-top: 5px;
	text-align: center;
	color: #757575;

}



/* GP_Set_Time_Buttons */


.profile-bar-2 {
	height: 100px;
	width: 300px;
	background-color: rgb(243, 102, 114, 0.726);
}

.profile-bar-2 p {
	float: left;
	padding-top: 16px;
	margin-left: 50px;
	margin-right: 30px;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	color: white;
}

.wrapper1-2{
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	height: 70px;
	width: 80px;
	border-style: outset;
	border-width: 2.5px;
	border-color: white;
	border-radius: 5px;
}

.back-button2-2{
	float: left;
	margin-left: 8px;
	margin-top: 22px;
	padding-bottom: 5px;
	width: 0px;
	height: 0px;
	color: white;
   }

.backtocall-2{
	margin-top: 10px;
	margin-left: 25px;
	font-family: Roboto, sans-serif;
	font-size: 10px;
	color: white;
	text-shadow: 1px 1px black;
}




.set-time {
	float: left;
	height: 92px;
	width: 300px;
}

.set-time h3{
	float: left;
	height: 35px;
	width: 295px;
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 25px;
	margin-left: 5px;
}

.set-time p{
	float: left;
	height: 25px;
	width: 290px;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.set-time input{
	float: left;
	margin-top: 0px;
	width: 120px;
	margin-left: 10px;
}

.set-specific-time {
	float: left;
	height: 260px;
	width: 300px;
}

.time-block-1 {
	height: 60px;
	width: 290px;
	margin-top: 10px;
	margin-left: 10px;
}


.time-block {
	height: 60px;
	width: 290px;
	margin-top: 10px;
	margin-left: 10px;
}

.time-button {
	background-color: pink;
	font-size: 15px;
	box-shadow: 0px 0px;
	margin-top: 0px;
	margin-right: 8px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	
}

.time-range {
	width: 300px;
	height: 20px;
}

.time-range-button-1 {
	font-size: 20px;
	background-color: pink;
	box-shadow: 1px 1px;
	height: 30px;
	width: 70px;
	margin-left: 70px;
}

.time-range-button-2 {
	margin-left: 10px;
	font-size: 20px;
	background-color: pink;
	box-shadow: 1px 1px;
	height: 30px;
	width: 70px;
}

.their-time {
	width: 290px;
	margin-left: 10px;
	float: left;
	margin-top: 30px;
}

.timezone3 {
	border: 1px solid rgba(120, 85, 73, 0.39);
	width: 280px;
	font-size: 20px;
}

.ok {
	font-size: 25px;
	background-color: pink;
	margin-top: 5px;
	margin-left: 115px;
	width: 70px;
	box-shadow: 0px 0px;
	height: 40px;
}
