/*
	Global classes
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
	color: #795548;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: #FFF3E0;
}

.head-bar {
	height: 45px;
	width: 300px;
	background-color: #A9A9A9;
	font-family: Avenir, sans-serif;
	color: white;
	text-shadow: 1px 1px #000000;
	text-align: center;
}
.head-bar h1{
	padding-top: 2.75px;
}

.back-button {
	float: left;
	margin-top: 9px;
	margin-left: 13px;
}

.placeholder1 {
	float: left;
	height: 300px;
	width: 300px;
	border-style: dashed;
}

.placeholder2 {
	float: left;
	height: 200px;
	width: 300px;
	border-style: dashed;
}
/*
	Logging in
			*/

.arrangebox::after {
	content: "";
}

.bigbtn {
	font-family: Roboto, sans-serif;
	height: 120px;
	font-size: 30px;
	color: #FFF3E0;
	float: left;
	text-align: center;
}

#uploadicon {
	height: 120px;
	width: 120px;
	margin: 20px 90px;
	border-style: dashed;
}

#newimgB {
	height: 24px;
	width: 24px;
	margin-left: 48px;
	margin-top: 48px;
}

#newimgA {
	height: 24px;
	width: 24px;
	margin-left: 48px;
	margin-top: 48px;
}

input[type = text], input[type = password], input[type = tel] {
	width: 100%;
	padding: 10px 5px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

.container {
	padding: 0 10px;
}

button {
	background-color: #E65100;
	width: 100%;
	height: 50px;
	margin: 15px 0;
	border: none;
	font-family: Roboto, sans-serif;
	font-size: 30px;
	color: #FFF3E0;
	box-shadow: 1px 3px 5px #4E342E;
}

/*
	Profile Page
		*/

.container1 {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.card_profile {
	height: 300px;
}

.card_name {
	padding-top: 50px;
	font-family: 'Avenir', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #424242;
	text-align: center;
}


.user-info {
	margin-top: 20px;
	height: 300px;
	width: 300px;
}

.user-stats {
	font-family: 'Avenir', sans-serif;
	margin-top: 5px;
	text-align: center;
	color: #757575;
}
