/*
	Global classes
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.call {
    background-color: white;
    height: 60px;
    width: 137.5;
    margin-left: 6px;
    margin-top: 0px;
    box-shadow: 4px 4px;
}

.call-text {
    height: 60px;
    width: 100px;
    float: left;
}

#call-time {
    font-size: 14px;
    width: 95px;
    margin-left: 5px;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 5px;
}

#caller {
    font-size: 14px;
    width: 95px;
    margin-left: 5px;
    margin-top: 5px;
}

.call-icon {
    background-color: rgb(243, 102, 114, 0.726);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 1.25px;
    margin-right: 0px;
    margin-top: 12px;
    margin-bottom: 0px;
    float: left;
}

.call-icon i{
    margin-top: 5px;
    margin-left: 5px;
    color: white;
}

.head-bar {
	height: 45px;
	width: 300px;
	background-color:rgb(243, 102, 114, 0.726);
	font-family: 'Avenir', sans-serif;
	color: rgb(243, 102, 114, 0.726);
	text-shadow: 1px 1px #000000;
	text-align: center;

   }
.head-bar h1{
	padding-top: 2.75px;
}

.back-button {
	width: 50px;
	height: 25px;
	float: left;
	margin-top: 9px;
	margin-left: 7px;
	color: white;
}


#vlog-format{
	float: left;
	width: 100%;
	height:430px;
}
.vlog{
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 290px;
	height: 400px;
	overflow: hidden;
	background-position: center center;
	border: 1px solid lightgray;
}


#icon-format{
	float: left;
	width: 100%;
	height:60px;
}

#fav{
	margin-left: 130px;
	margin-left: 130px;
	margin-top: 0px;
}

.material-icons.md-40 {
	font-size: 40px;
	color: red;
}

#attempt{
}

#screen-main {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: white;
}

.profile-bar {
	height: 100px;
	width: 300px;
	background-color: rgb(243, 102, 114, 0.726);
}

.profile-pic-background{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	height: 80px;
  	width: 80px;
  	background-color: rgb(245, 235, 235);
  	border-radius: 50%;
}

.profile-pic-background img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.user-name {
	height: 40px;
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.user-name h3{
	padding: 0px;
	font-size: 25px;
	color: white;
}

.add-friend {
	float: right;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background-color: pink;
	margin-right: 10px;
	margin-top: 10px;
	border-style: outset;
	border-width: 2.5px;
}


.add-friend p{
	font-size: 16px;
	text-align: center;
	margin-top: 13px;
	padding-top: 0px;
	color: gray;
	font-weight: bold;
}

.video {
	height: 190px;
	width: 300px;
}

.video-img {
	height: 150px;
	float: left;
}

.video-img img{
	margin-top: 15px;
	margin-left: 85px;
	margin-right: 25px;
	height: 130px;
	width: 130px;
	float: left;
}

#back-button{
	float: left;
	margin-left: 7px;
	margin-top: 7px;
	padding-left: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 30px;
	height: 23px;
	border: 1px solid white;
	background-color: rgb(243, 102, 114, 0.726);
	color: white;
	text-shadow: 1px 1px black;
   }

.video-name {
	margin-top: 0px;
	float: left;
	height: 20px;
	width: 300px;
}

.video-name p{
	margin-top: 0px;
	float: left;
	height: 20px;
	width: 300px;
	font-size: 15px;
	text-align: center;
}

.uploader-name {
	float: left;
	height: 20px;
	width: 300px;
}

.uploader-name p{
	margin-top: 0px;
	float: left;
	width: 300px;
	text-align: center;
}

.bottom-bar {
	background-color: pink;
	float: left;
	height: 49px;
	width: 149px;
	border: 0.5px solid white;
}

.bottom-bar h3{
	float: left;
	width: 149px;
	height: 25px;
	margin-top: 12px;
	text-align: center;
	color: white;
}

.bottom-bar-current {
	background-color: white;
	float: left;
	height: 49px;
	width: 149px;
	border: 0.5px solid rgb(243, 102, 114, 0.726);
}

.bottom-bar-current h3{
	float: left;
	width: 149px;
	height: 25px;
	margin-top: 12px;
	text-align: center;
	color: rgb(243, 102, 114, 0.726);
}
/*left-side box has borders*/
.left-side{
	float: left;
	width: 150px;
	height: 380px;
	background-color: rgb(243, 102, 114, 0.1);
}

.right-side{
	float: left;
	width: 150px;
	height: 380px;
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
	background-color: rgb(243, 102, 114, 0.1);

}

.right-side h1{
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 130px;
}

.responds{
	padding-top: 0px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	width: 125px;
	height: 45px;
	border-style: outset;
	border-width: 2.5px;
	margin-bottom: 10px;
	background-color: rgb(243, 102, 114, 0.5);
	color: white;
}


.responds p{
	margin-top: 11.5px;
	font-size: 20px;
	font-weight: bold;
	color: black;

}

#left-side-box1{
	float: left;
	width: 145px;
	height: 185px;
	text-align: center;
	vertical-align: middle;
	border-style: outset;
	border-width: 2.5px;
	text-decoration: none;
	background-color: rgb(243, 102, 114, 0.4);
	color: white;
}

#left-side-box1 h1{
	padding-top: 30px;
	font-size: 30px;
	color: black;
}
/*
.left-button{
	float: left;
	width: 136px;
	margin-left: 1px;
	height: 176px;
	text-align: center;
	vertical-align: middle;
	border: 2px solid lightgray;

}

.left_place{
	float: left;
	width: 150px;
	height: 8px;

}
*/
#left-side-box2{
	float: left;
	width: 145px;
	height: 185px;
	text-align: center;
	vertical-align: middle;
	border-style: outset;
	border-width: 2.5px;
	background-color: rgb(243, 102, 114, 0.4);
	text-decoration: none;
	color: white;
}
#left-side-box2 h1{
	padding-top: 30px;
	font-size: 30px;
	color: black;
}


.mid{
	float: left;
	width: 300px;
	height: 380px;
}
.profile-pic-place{
	float: left;
	width: 300px;
	height: 200px;
}
.caller-profile-pic{
	margin-top: 65px;
	margin-left: 75px;
	float: left;
	height: 150px;
  	width: 150px;
  	background-color: rgb(245, 235, 235);
  	border-radius: 80%;

}
.caller-profile-pic img{
	height: 150px;
	width: 150px;
	border-radius: 80%;

}
.word-below{
	float: left;
	width: 300px;
	height: 60px;
	padding-top: 5px;
	text-align: center;
}

.button-wrapper{
	float: left;
	width: 300px;
	height: 115px;
}

.call-accept{
	float: left;
	width: 90px;
	height: 60px;
	margin-left: 37.5px;
	margin-right: 17.5px;
	background-color:  rgb(243, 102, 114, 0.5);
	text-align: center;
	vertical-align: middle;
	color: white;
	border-style: outset;
	border-width: 2.5px;
	
}

.call-accept h3{
	color: black;
}

.call-rej{
	float: left;
	width: 90px;
	height: 60px;
	margin-left: 17.5px;
	margin-right: 37.5px;
	background-color:  rgb(243, 102, 114, 0.5);
	text-align: center;
	vertical-align: middle;
	color: white;
	border-style: outset;
	border-width: 2.5px;
}
.call-rej h3{
	color: black;
}

.select-gc{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	width: 260px;
	height: 40px;
}
.select-gc h3{
	font-size: 26px;
}

.profile-pic-place1{
	position: relative;
	top: 7%;
	width: 300px;
	height: 130px;



}

.caller-profile-pic1{
	margin-top: 65px;
	margin-left: 71px;
	float: left;
	height: 150px;
  	width: 150px;
  	background-color: rgb(245, 235, 235);
	border-radius: 80%;
	border-style: outset;
	border-width: 4px;
	color: lightgray;

}
.caller-profile-pic1 img{
	height: 150px;
	width: 150px;
	border-radius: 80%;

}

.gc-name{
	float:left;
	position: relative;
	top: 00%;
	margin-left: 20px;
	margin-right: 20px;
	width: 260px;
	height: 40px;
	text-align: center;

}
.gc-name h3{
	font-size: 26px;
}
.end-call{
	float: left;
	width: 90px;
	height: 60px;
	margin-left: 102.5px;
	margin-right: 102.5px;
	background-color:  rgb(243, 102, 114, 0.5);
	text-align: center;
	vertical-align: middle;
	color: white;
	border-style: outset;
	border-width: 2.5px;
}
.end-call h3{
	color: black;
}
.word-below19{
	float: left;
	width: 300px;
	height: 60px;
	margin-top: 7px;
	margin-bottom: 10px;
	text-align: center;
}
.word-below19 h3{
	font-size: 25px;
}