
/* Main call page */


body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
	color: #795548;
}



#screen-main {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: white;
}

.profile-bar {
	height: 100px;
	width: 300px;
	background-color: lightblue;
}

.profile-pic-background{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	height: 80px;
  	width: 80px;
  	background-color: rgb(245, 235, 235);
  	border-radius: 50%;
}

.profile-pic-background img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.user-name {
	height: 40px;
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.user-name h3{
	padding: 0px;
	font-size: 25px;
    color: white;
}

.add-friend {
	float: right;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background-color: rgba(5, 115, 148, 0.397);
	margin-right: 10px;
	margin-top: 10px;
	border-style: outset;
	border-width: 2.5px;
}


.add-friend h3{
	font-size: 16px;
	text-align: center;
	margin-top: 13px;
	padding-top: 0px;
	color: gray;
	font-weight: bold;
}


#back-button{
	float: left;
	margin-left: 7px;
	margin-top: 7px;
	padding-left: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 30px;
	height: 23px;
	border: 1px solid white;
	background-color: rgb(243, 102, 114, 0.726);
	color: white;
	text-shadow: 1px 1px black;
   }


.section-1 {
    float: left;
    height: 380px;
    width: 149.5px;
    margin:0px;
    border-right: 1px solid lightgrey;
}

.schedule-call-button {
    height: 130px;
    width: 130px;
    background-color: rgba(5, 115, 148, 0.75);
    border-radius: 50%;
    margin-left: 9.75px;
    margin-top: 40px;
		box-shadow: 5px 7px 5px #90A4AE;
		border-color: #90A4AE;
}

.schedule-call-button:hover {
	background-color: lightblue;
}

.schedule-call-button:active {
	box-shadow: 0 5px #666;
  	transform: translateY(3px);
}

.schedule-call-button h3 {
    float: left;
    margin-top:4px;
    font-size: 13px;
    align: center;
    margin-left: 8px;
    color: white;
}

.schedule-call-button i{
    float: left;
    margin-top:6px;
    font-size: 25px;
    margin-left: 29.5px;
    margin-right: 120px;
    font-size: 60px;
    color: white;
}

.make-call-button h3 {
    float: left;
    margin-top:2px;
    font-size: 13px;
    align: center;
    margin-left: 20px;
    color: white;
}

.make-call-button i{
    float: left;
    margin-top:16px;
    font-size: 25px;
    margin-left: 26.5px;
    margin-right: 120px;
    font-size: 65px;
    color: white;

}

.make-call-button:hover {
	background-color: lightblue;
}

.make-call-button:active {
	box-shadow: 0 5px #666;
  	transform: translateY(3px);
}

.make-call-button {
    height: 130px;
    width: 130px;
    background-color: rgba(5, 115, 148, 0.75);
    border-radius: 50%;
    margin-left: 9.75px;
    margin-top: 40px;
    margin-bottom: 40px;
		border-color: #90A4AE;
		box-shadow: 5px 7px 5px #90A4AE;
}

.section-2 {
    height: 380px;
    float: left;
    width: 149.5px;
    background-color: rgba(5, 115, 148, 0.5);
    margin:0px;
}

.section-2 h3{
    font-size: 18px;
    width: 140px;
    margin-left: 6px;
    margin-top: 10px;
    color: white;
    margin-bottom: 0px;
}

.call {
    background-color: white;
    height: 60px;
    width: 137.5;
    margin-left: 6px;
    margin-top: 6px;
		box-shadow: 3px 5px 5px #455A64;
}

.call-text {
    height: 60px;
    width: 100px;
    float: left;
}

#call-time {
    font-size: 14px;
    width: 95px;
    margin-left: 5px;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 5px;
}

#caller {
    font-size: 14px;
    width: 95px;
    margin-left: 5px;
    margin-top: 5px;
}

.bottom-bar {
	background-color: lightblue;
	float: left;
	height: 49px;
	width: 149px;
	border: 0.5px solid white;
}

.call-icon {
    background-color: rgba(5, 115, 148, 0.75);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 1.25px;
    margin-right: 0px;
    margin-top: 12px;
    margin-bottom: 0px;
    float: left;
}

.call-icon i{
    margin-top: 5px;
    margin-left: 5px;
    color: white;
}

.bottom-bar h3{
	float: left;
	width: 149px;
	height: 25px;
	margin-top: 12px;
	text-align: center;
	color: white;
}

.bottom-bar-current {
	background-color: white;
	float: left;
	height: 49px;
	width: 149px;
	border: 0.5px solid rgba(5, 115, 148, 0.75);
}

.bottom-bar-current h3{
	float: left;
	width: 149px;
	height: 25px;
	margin-top: 12px;
	text-align: center;
	color: rgba(5, 115, 148, 0.75);
}

/* Profile page */
.head-bar {
	height: 45px;
	width: 300px;
	background-color: lightblue;
	font-family: Avenir, sans-serif;
	color: white;
	text-shadow: 1px 1px #000000;
	text-align: center;
}
.head-bar h1{
	padding-top: 2.75px;
}

.back-button {
	float: left;
	margin-top: 9px;
	margin-left: 13px;
	color: white;
}


.container1 {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.card_profile {
	height: 300px;
}

.card_name {
	padding-top: 30px;
	font-family: 'Avenir', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #424242;
	text-align: center;
}


.user-info {
    margin-top: 10px;
	height: 120px;
	width: 300px;
}

.user-stats {
	font-family: 'Avenir', sans-serif;
	margin-top: 5px;
	text-align: center;
    color: #757575;
    margin-bottom: 0px;
}

.badge {
    background-color: lightblue;
    margin-top: 0px;
    float: left;
    height: 30px;
    width: 70px;
    margin-left: 225px;
    box-shadow: 2px 2px rgb(120, 85,73);

}

.badge p{
    margin-top: 4px;
    margin-left: 10px;
}

#badge-link {
    color:rgb(120, 85,73);
}


.mid{
	float: left;
	width: 300px;
	height: 380px;
}
.profile-pic-place{
	float: left;
	width: 300px;
	height: 200px;
}
.caller-profile-pic{
	margin-top: 65px;
	margin-left: 75px;
	float: left;
	height: 150px;
	width: 150px;
	background-color: rgb(245, 235, 235);
	border-radius: 80%;

}
.caller-profile-pic img{
	height: 150px;
	width: 150px;
	border-radius: 80%;

}
.word-below{
	float: left;
	width: 300px;
	height: 60px;
	padding-top: 5px;
	text-align: center;
}

.button-wrapper{
	float: left;
	width: 300px;
	height: 115px;
}

.call-accept{
	float: left;
	width: 90px;
	height: 60px;
	margin-left: 37.5px;
	margin-right: 17.5px;
	background-color:   rgba(5, 115, 148, 0.397);
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 14px;
	border-style: outset;
	border-width: 2.5px;
}

.call-rej{
	float: left;
	width: 90px;
	height: 60px;
	margin-left: 17.5px;
	margin-right: 37.5px;
	background-color:  rgba(5, 115, 148, 0.397);
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 14px;
	border-style: outset;
	border-width: 2.5px;
}

.select-gp{
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	width: 260px;
	height: 40px;
}
.select-gp h3{
	font-size: 23px;
}

.profile-pic-place1{
	position: relative;
	top: 3%;
	width: 300px;
	height: 130px;



}

.caller-profile-pic1{
	margin-top: 65px;
	margin-left: 71px;
	float: left;
	height: 150px;
  	width: 150px;
  	background-color: rgb(245, 235, 235);
	border-radius: 80%;
	border-style: outset;
	border-width: 4px;
	color: lightgray;

}
.caller-profile-pic1 img{
	height: 150px;
	width: 150px;
	border-radius: 80%;

}
.gp-name{
	float:left;
	position: relative;
	top: 00%;
	margin-left: 20px;
	margin-right: 20px;
	width: 260px;
	height: 40px;
	text-align: center;

}
.gp-name h3{
	font-size: 26px;
}
.word-below19{
	float: left;
	width: 300px;
	height: 60px;
	margin-top: 7px;
	margin-bottom: 10px;
	text-align: center;
}
.word-below19 h3{
	font-size: 25px;
}

.end-call{
	float: left;
	width: 90px;
	height: 60px;
	margin-left: 102.5px;
	margin-right: 102.5px;
	background-color:   rgba(5, 115, 148, 0.397);
	text-align: center;
	vertical-align: middle;
	color: white;
	border-style: outset;
	border-width: 2.5px;
}
.end-call h3{
	color: black;
}