/* 
	Global classes 
					*/
body {
	background-image: url("iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

#profile-bar {
	height: 100px;
	width: 300px;
	background-color: pink;
   }


#back-button{
	
}
