/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	height: 45px;
	width: 300px;
	background-color:rgb(243, 102, 114, 0.726);
	font-family: 'Avenir', sans-serif;
	color: rgb(243, 102, 114, 0.726);
	text-shadow: 1px 1px #000000;
	text-align: center;
	
   }
.head-bar h1{
	padding-top: 2.75px;
}
   
.back-button {
	width: 50px;
	height: 25px;
	float: left;
	margin-top: 9px;
	margin-left: 7px;
	color: white;
}
   

#vlog-format{
	float: left;
	width: 100%;
	height:430px;
}
.vlog{
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 290px;
	height: 400px;
	overflow: hidden;
	background-position: center center;
	border: 1px solid lightgray;
}


#icon-format{
	float: left;
	width: 100%;
	height:60px;
}

#fav{
	margin-left: 130px;
	margin-left: 130px;
	margin-top: 0px;
}

.material-icons.md-40 { 
	font-size: 40px; 
	color: red;
}

#attempt{
}







